<a id="toc"></a>

## <p style="background-color:#0D8D99; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Prep DAwPy-Session 1-2<br><br>Lambda Functions</p>

#### <div class="alert alert-block alert-info"><h1><p style="text-align: center; color:purple"> Lambda Functions<br><br>Defining a Lambda Function<br><br>Uses of the Lambda Functions<br><br>Lambda within Built-in Functions<br><br>Lambda within User-Defined Functions</p>

**[Python official documentation 1 - Lambda Functions](https://docs.python.org/3/tutorial/controlflow.html#lambda-expressions)**

**[Link2 - Python Lambda](https://www.w3schools.com/python/python_lambda.asp)**

**[Link3 - Python Lambda Functions](https://www.geeksforgeeks.org/python-lambda-anonymous-functions-filter-map-reduce/)**

**[Link4 - Lambda functions with practical examples in python](https://towardsdatascience.com/lambda-functions-with-practical-examples-in-python-45934f3653a8)**

<a id="toc"></a>

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Defining a Lambda Function</p>

![python.exe](https://drive.google.com/uc?id=1AzQQxtNeHpGcSJmXs4cmsf8oNk59N3-2)

In [16]:
def square(x):
    return x ** 2

In [ ]:
lambda x : x ** 2 

# You don't need to use "return" keyword in lambda function

![python.exe](https://drive.google.com/uc?id=1cGefoh51VulCljjK2RauVtPjnwX1LhKW)

In [8]:
condition = True

In [2]:
"odd" if condition else "even"

'odd'

In [10]:
print("odd") if condition else print("even")

odd

In [11]:
condition = False

In [12]:
"odd" if condition else "even"

'even'

In [1]:
lambda x : "odd" if x % 2 != 0 else "even"

In [5]:
type(lambda x : "odd" if x % 2 != 0 else "even")

function

![python.exe](https://drive.google.com/uc?id=1cGefoh51VulCljjK2RauVtPjnwX1LhKW)

In [2]:
a=32
b=12
c=58

func = lambda x,y,z : x if x >= y and x >= z else(y if y>x and y>z else z)
func(a,b,c)

58

In [3]:
a = 2
b = 1 
c = 1

(lambda a, b, c : a if a >= b and a >= c else b if b > c and b > a else c)(a,b,c)

2

In [4]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

<a id="toc"></a>

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Uses of the Lambda Functions</p>

### 1. use : Using a lambda function by enclosing it in parentheses

In [2]:
(lambda x : "odd" if x % 2 != 0 else "even")(4)

'even'

In [6]:
(lambda x : x + 2)(5)

7

### 2. use : Using a lambda function by assigning it to a variable :

In [16]:
odd_even = (lambda x : "odd" if x % 2 != 0 else "even")

In [17]:
odd_even

In [18]:
odd_even(3)

'odd'

In [19]:
odd_even_arg = (lambda x : "odd" if x % 2 != 0 else "even")(4)

In [20]:
odd_even_arg

'even'

In [22]:
print((lambda x, y : (x + y)/2)(3, 5))

4.0

In [23]:
average = (lambda x, y : (x + y)/2)

print(average(3,5))

4.0

In [24]:
average = (lambda x, y : (x + y)/2)(3, 5)

print(average)

4.0

In [13]:
average = lambda x, y : (x + y) / 2
average

In [14]:
average(3,5)

4.0

### Task:

**Define a lambda function to reverse the elements of any iterables.** 

**Use parentheses for arguments and print the result.**

In [ ]:
"ali"[::-1]

In [15]:
iterable = "I learn Python"

reverser = lambda x : x[::-1]  # where x will represent iterable.

In [16]:
reverser

In [17]:
reverser(iterable)

'nohtyP nrael I'

In [18]:
(lambda x : x[::-1])([1,2,3])

[3, 2, 1]

In [ ]:
iterable = [ 1, 2, 3, 4, 5, 6, 7]
a  = list((lambda x : reversed(x))(iterable))
print(a)

### Task

**Write a Python program that types ‘even’ or ‘odd’ in accordance with the numbers in a list.**

**Use lambda function and loop. Your code must contain no more than 2 lines.** 

The sample list and desired output are as follows :

[1, 2, 3, 4]

1 : odd<br>
2 : even<br>
3 : odd<br>
4 : even

In [ ]:
(lambda x : "odd" if x % 2 != 0 else "even")(4)

In [20]:
numbers = [1,2,3,4,5,6]

for i in numbers:
    print(i, ":", (lambda x : "odd" if x % 2 != 0 else "even")(i))

1 : odd
2 : even
3 : odd
4 : even
5 : odd
6 : even

In [21]:
for eleman in numbers :
    print(eleman, ":", (lambda x : "odd" if x % 2 != 0 else "even")(eleman))

1 : odd
2 : even
3 : odd
4 : even
5 : odd
6 : even

In [5]:
iterable = "I love Python"

In [6]:
reverser = lambda x : x[::-1]

In [7]:
reverser

In [22]:
reverser(iterable)

'nohtyP nrael I'

In [7]:
for num in [1, 2, 3, 4]:
    print(num ,": ", (lambda x: "odd" if x % 2 else "even")(num))

1 :  odd
2 :  even
3 :  odd
4 :  even

<a id="toc"></a>

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Lambda within Built-in Functions</p>

<a id="toc"></a>

### <p style="background-color:#0D8D99; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">map() function</p>

**map(func, *iterables) --> map object**

Make an iterator that computes the function using arguments from
each of the iterables.  Stops when the shortest iterable is exhausted.

### Task: Let's write the code using the map() function to return the lengths of the elements in the given list.

In [1]:
# map

words = ["adel", "fatih", "Nalan", "vahdettin" ]

In [20]:
map(len, words)

In [21]:
list(map(len, words))

[10, 6, 4]

In [23]:
lengths = map(len, words)

In [ ]:
lengths

In [24]:
print(* lengths)

10 6 4

In [26]:
lengths = []

for i in words :
    lengths.append(len(i))
print(lengths)

[10, 6, 4]

### Task: Let's use the map() function and lambda expression to find the squares of all numbers in a list.

In [32]:
square_func = lambda x : x ** 2

In [33]:
iterable = [1, 2, 3, 4, 5]

In [30]:
# i = {1, 3, 2, 5, 5, 4, 5}
# list(map(lambda x : x ** 2, i))

In [30]:
result = map(square_func, iterable)

1 4 9 16 25

In [ ]:
print(* result)

In [31]:
print(* (map(lambda x : x ** 2, [1, 2, 3, 4, 5])))

1 4 9 16 25

In [32]:
result = map(square_func, iterable)

for i in result :
    print(i, end = " ")

1 4 9 16 25

In [34]:
for i in map(square_func, iterable) :
    print(i, end = " ")

1 4 9 16 25

In [33]:
# result = map(square_func, iterable)

# list(result)

[1, 4, 9, 16, 25]

In [34]:
# list(map(square_func, iterable))

[1, 4, 9, 16, 25]

In [35]:
def square(x) :
    return x ** 2

In [36]:
iterable = [1, 2, 3, 4, 5]

list(map(square, iterable))

[1, 4, 9, 16, 25]

In [37]:
sum_or_concat = lambda x, y, z : x + y + z

In [38]:
sum_or_concat("a", "l", "i")

'ali'

In [39]:
sum_or_concat(11, 78, 10)

99

In [8]:
print(list(map(lambda x: x**2, [1,2,3,4,5])))

[1, 4, 9, 16, 25]

In [9]:
def square_func():

    return list(map(lambda x: x**2, [1,2,3,4,5]))

square_func()

[1, 4, 9, 16, 25]

In [10]:
def square(x):
    return x**2
iterable = [1, 2, 3, 4, 5]
list(map(square, iterable))

[1, 4, 9, 16, 25]

### Task : Using lambda inside the map() function, write a program that calculates the arithmetic means of two element pairs in the following two lists in accordance with their order and collects them into a list.

num1 = [9, 6, 7, 4]<br>
num2 = [3, 6, 5, 8]

In [36]:
lambda x, y : (x + y) / 2

In [37]:
func = lambda x, y : (x + y) / 2

In [38]:
num1 = [9, 6, 7, 4]
num2 = [3, 6, 5, 8]

In [40]:
numbers = map(func, num1, num2)

In [41]:
print(list(numbers))

[6.0, 6.0, 6.0, 6.0]

In [11]:
print(list(map(lambda x , y: (x+ y)/2 , [9, 6, 7 ,4], [ 3, 6, 5, 8])))

[6.0, 6.0, 6.0, 6.0]

### Task : "Write a program using a lambda expression inside the map function to place the three meaningful sentences derived from the elements of the following three lists in their respective order."

**Print these sentences on separate lines.**

words1 = ["you", "much", "hard"]<br>
words2 = ["i", "you", "he"]<br>
words3 = ["love", "ate", "works"]

In [2]:
words1 = ["you", "much", "hard"]
words2 = ["i", "you", "he"]
words3 = ["love", "ate", "works"]

In [6]:
concat = lambda x, y, z : x + " " + y + " " + z

In [7]:
sentences = map(concat, words2, words3, words1)

for i in sentences :
    print(i)

i love you
you ate much
he works hard

In [12]:
print(list(map(lambda x,y,z : y + z + x , ["you", "much", "hard"], ["i ", "you ", "he "], ["love ", "ate ", "works "])))

['i love you', 'you ate much', 'he works hard']

In [13]:
print(*(map(lambda x,y,z : y + z + x , ["you", "much", "hard"], ["i ", "you ", "he "], ["love ", "ate ", "works "])))

i love you you ate much he works hard

<a id="toc"></a>

### <p style="background-color:#0D8D99; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">filter() function</p>

**filter(function or None, iterable) --> filter object**

Return an iterator yielding those items of iterable for which function(item)
is true. If function is None, return the items that are true.

### Task: "Let's use a lambda expression inside the filter() function to return the odd numbers in a list"

In [ ]:
filter()  # SHIFT TAB TAB

In [14]:
x = list(filter(lambda x : x % 2 , [1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ]))

print("Odd number : " , x)

Odd number :  [1, 3, 5, 7, 9]

In [8]:
4 % 2 == 0

True

In [9]:
5 % 2 == 0

False

In [10]:
first_ten = [1, 2, 3, 4, 5, 6, 7, 8, 9]

filter(lambda x : x % 2 == 1, first_ten)

In [11]:
print(*filter(lambda x : x % 2 == 1, first_ten))

1 3 5 7 9

In [12]:
print(*filter(lambda x : x % 2 != 0, first_ten))

1 3 5 7 9

In [13]:
print(*filter(lambda x : x % 2 ==1 , first_ten))

1 3 5 7 9

In [14]:
print(*filter(lambda x : not x % 2 == 0, first_ten))

1 3 5 7 9

In [15]:
print(*filter(lambda x : x % 2, first_ten))

1 3 5 7 9

In [15]:
print("Odd number : " , list(filter(lambda x : x % 2 , [1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ])))

Odd number :  [1, 3, 5, 7, 9]

### Task : Using lambda inside the filter() function, write a program that filters out words (elements of the given list) with less than 5 chars.

**Print these words which has less than 5 chars on separate lines.**

words = ["apple", "swim", "clock", "me", "kiwi", "banana"]

In [16]:
len("apple")

5

In [17]:
len("apple") < 5

False

In [18]:
len("me") < 5

True

In [19]:
2 < 5

True

In [20]:
words = ["apple", "swim", "clock", "me", "kiwi", "banana"]

In [ ]:
filter(lambda x : len(x) < 5, words)

In [21]:
for i in filter(lambda x : len(x) < 5, words) :
    print(i)

swim
me
kiwi

In [16]:
words = ["apple", "swim", "clock", "me", "kiwi", "banana"]

five_chars = list(filter(lambda x: len(x) < 5, words))
print(five_chars)

['swim', 'me', 'kiwi']

In [17]:
print(list(filter(lambda x: len(x) < 5, ["apple", "swim", "clock", "me", "kiwi", "banana"] )))

['swim', 'me', 'kiwi']

## what if we use the map() and zip() functions together:

**Note that now the generator objects returned by both the zip function and the map function will be nested!**

In [18]:
listem1 = [1, 2, 3, 4]
listem2 = [5, 6, 7, 8]

def carp(x , y):
    return x * y
carpimlar = map(carp, listem1, listem2)
sonuclar = zip(carpimlar, listem1, listem2)
print(list(sonuclar))

[(5, 1, 5), (12, 2, 6), (21, 3, 7), (32, 4, 8)]

In [24]:
letter1 = "a b c".split()
letter2 = "x y z".split()

In [25]:
letter1

['a', 'b', 'c']

In [ ]:
lambda k, l : (k, l)

In [27]:
list(map((lambda k, l : (k, l)), letter1, letter2 ))

[('a', 'x'), ('b', 'y'), ('c', 'z')]

In [29]:
list(zip(letter1, letter2))

[('a', 'x'), ('b', 'y'), ('c', 'z')]

In [31]:
map(zip, letter1, letter2)

In [32]:
list(map(zip, letter1, letter2))

In [55]:
combined = map(zip, letter1, letter2)

In [56]:
list(combined)  # Consider why it returns 3 generate objects in the list.

In [57]:
# Since the objects generated by map and zip functions are nested,
# we need nested for loops to be able to see or use them.

combined = map(zip, letter1, letter2)

for i in combined:
    for j in i :
        print(j)

('a', 'x')
('b', 'y')
('c', 'z')

In [59]:
list(zip(letter1[1], letter2[1]))

[('b', 'y')]

In [19]:
carpimlar = zip(map(lambda x, y : x * y, [1, 2, 3, 4], [5, 6, 7, 8]), [1, 2, 3, 4], [5, 6, 7, 8])
print(list(carpimlar))

[(5, 1, 5), (12, 2, 6), (21, 3, 7), (32, 4, 8)]

In [20]:
print(list(zip(map(lambda x, y : x * y, [1, 2, 3, 4], [5, 6, 7, 8]), [1, 2, 3, 4], [5, 6, 7, 8])))

[(5, 1, 5), (12, 2, 6), (21, 3, 7), (32, 4, 8)]

In [21]:
a=[ 9,5,7]
b= [2,8,6]
dd= list(map(lambda x: x,[(a+b)/2 for a,b in zip(a,b)]))
dd

[5.5, 6.5, 6.5]

## Task :

**This time, let’s filter the vowels from the given letters in a list.**

**Print these letters in a list.**

first_ten = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [34]:
first_ten = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

vowel_list = "a e i o u".split()

In [36]:
f = lambda x : True if x in vowel_list else False

In [37]:
list(filter(f, first_ten ))

['a', 'e', 'i']

In [ ]:
lambda x : x in vowel_list

In [38]:
list(filter(lambda x : x in vowel_list, first_ten ))

['a', 'e', 'i']

In [22]:
print(list(filter(lambda x: x in ["a","e", "i", "ü","ö"], ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])))

['a', 'e', 'i']

<a id="toc"></a>

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Lambda within User-Defined Functions</p>

In [39]:
def modular(n) :
    return lambda x :x * n

In [40]:
ikikatı = modular(2)
üçkatı = modular(3)
onkatı = modular(10)

In [41]:
onkatı(3)

30

In [43]:
"I love" +  "Python"

'I lovePython'

In [42]:
"I love Python" * 5

'I love PythonI love PythonI love PythonI love PythonI love Python'

In [26]:
factorial = int(input("factorial :  "))
# faktorial
a = 1
for i in range(1, factorial + 1):
    a = (lambda x: 1 if x == 0 else a * i)(factorial)

print(a)

24

## Task : (pre-class content)

**We can define a function with the same logic as the previous example that repeats the string passed into it.**

**Define a function (def) named repeater using lambda to print the string "n" times.**

In [44]:
def repeater(n) :
    return lambda x : x * n

In [45]:
repeat_2_times = repeater(2)
repeat_3_times = repeater(3)
repeat_4_times = repeater(4)

In [46]:
repeat_3_times("I love Python")

'I love PythonI love PythonI love Python'

In [75]:
repeat_4_times("You love too, don't you?")

"You love too, don't you?You love too, don't you?You love too, don't you?You love too, don't you?"

## Task :

**Define a simple function (def) named "functioner" using lambda to create your own print function with emoji faces. Such as :**

![python.exe](https://drive.google.com/uc?id=15Fi7vAHAbddsM_tJKBNpuPxK3doPfVYV)

In [55]:
def functioner(emoji = "") :
    return lambda message : print(message, emoji)

In [48]:
print("ali", ":)")

ali :)

In [51]:
smile_func = functioner(":)")
sad_func = functioner(":(")
neutral_func = functioner(":|")

In [56]:
smile_func("Hello")

Hello :)

In [57]:
sad_func("Hello")

Hello :(

In [58]:
no_emoji = functioner()

In [59]:
no_emoji("Hello")

Hello

## The Jupyter notebook returns the value of the last expression you wrote.

In [76]:
print((1, 2, 3))
print([4, 5, 6])
"I love Python"

(1, 2, 3)
[4, 5, 6]

'I love Python'

## Task: 

**Define a function named name_print() ("name" will be your name). it means that it is name's print function. name_print() function should do what build-in print() function does.** 

**and define name_max() function. name's name_max() function.. it should do what build-in max() function do.**

**and define name_bool() function. it should do what build-in bool() function do, but it will be name's name_bool() function.**

**and define name_sort() function as the same way.**

**So you will have defined a function generator**

In [63]:
def function_generator(function_name):
    return lambda x : function_name(x)

In [61]:
(lambda x : print(x))("Adel, Edwin, Nalan")

Adel, Edwin, Nalan

In [62]:
(lambda x : max(x))([9, 5, 6, 1, 3])

9

In [64]:
edwin_max = function_generator(max)

In [65]:
edwin_max(([9, 5, 6, 1, 3]))

9

In [1]:
def function_generator(fonc):
       return lambda x: print(x) if fonc == print else print(fonc(x))

name_print = function_generator(print)
name_max =   function_generator(max)
name_bool =  function_generator(bool)
name_sort =  function_generator(sorted)


name_print("aLbeRT")

name_sort([1, 6, 11, 9, 10])

name_max([9,5])

name_bool("aLbeRT")

aLbeRT
[1, 6, 9, 10, 11]
9
True

### Whatever the function is returning in its code body, that value will be returned wherever you call the function!

In [68]:
def x():
    return 1, 2, 3, 4

In [67]:
1, 2, 3, 4  # it's a tuple.

(1, 2, 3, 4)

In [69]:
type(x())

tuple

In [72]:
a, b, c, d = x()

In [73]:
b

2

In [74]:
c

3

In [77]:
a, b, c, d  = 1, 2, 3, 4

In [78]:
d

4

# Task: Let's solve the 'Most Frequent Element' task using a function:

In [99]:
num= [1, 1, 1, 4, 5, 5]

In [100]:
max(num, key=num.count)

1

In [102]:
most_frequent_count = num.count(max(num, key=num.count))
most_frequent_count

3

In [103]:
num = [1, 2, 3]
most_frequent_count = num.count(max(num, key=num.count))
most_frequent_count

1

**In this example, each element appears only once in the list. Therefore, we want the count of the most frequent element to be returned as 0, not 1. How can we achieve this?**

```python
most_freq_count(1,4,4) --> 2
most_freq_count(4,4,4) --> 3
most_freq_count(1,2,3) --> 0
```

**we want the count of the most frequent element to be returned as 0, not 1**

**To achieve this we must use a condition inside the function**

In [104]:
max(1,1,1)

1

In [111]:
def most_freq_count(a, b, c):
    num = [a, b, c]
    count_freq = num.count(max(num, key=num.count))
    
    if count_freq > 1 :
        return count_freq
    else:
        return 0

In [112]:
most_freq_count(1, 2, 3)

0

In [113]:
most_freq_count(1, 5, 5)

2

In [114]:
# if we don't want to define an extra variable to use memory efficiently:

def most_freq_count(a, b, c):
    num = [a, b, c]
    
    if num.count(max(num, key=num.count)) > 1 :
        return num.count(max(num, key=num.count))
    else:
        return 0

In [115]:
most_freq_count(1, 5, 5)

2

## using arbitrary number of arguments:

In [7]:
def most_freq_count(*args) :
    num = list(args)
    result = num.count(max(num, key=num.count))
    
    if result > 1 :
        return result
    else:
        return 0

In [6]:
most_freq_count(1,1,1,2,3,7,7,8,9,9,9)

3

In [10]:
def most_freq_count(*args) :
    # num = args
    result = args.count(max(args, key=args.count))
    
    if result > 1 :
        return result
    else:
        return 0

In [11]:
most_freq_count(1,1,1,2,3,7,7,8,9,9,9)

3

## using lambda expression:

In [119]:
most_freq_count = lambda x, y, z : num.count(max(num, key = num.count))

# Note that instead of the variable 'num', we must use the parameters 'x', 'y', and 'z' inside the lambda expression.!!!

In [120]:
most_freq_count = lambda x, y, z : [x, y, z].count(max([x, y, z], key = [x, y, z].count))

In [121]:
most_freq_count(1, 5, 5)

2

In [123]:
most_freq_count(1,2,3)

1

**we want the count of the most frequent element to be returned as 0, not 1**

**To achieve this we must use a condition inside the lambda.**

**Lambda is an expression, and if we need to use a condition inside expressions, 
we can do it using the ternary operator.**

In [124]:
most_freq_count = lambda x, y, z : [x, y, z].count(max([x, y, z], key = [x, y, z].count))\
if [x, y, z].count(max([x, y, z], key = [x, y, z].count)) > 1  else 0

In [125]:
most_freq_count(1,2,3)

0

In [126]:
most_freq_count(1,5,5)

2

## Using arbitrary number of arguments inside lambda function:

In [8]:
most_freq_count = lambda *args : list(args).count(max(list(args), key = list(args).count))\
if list(args).count(max(list(args), key = list(args).count)) > 1 else 0

In [9]:
most_freq_count(1,1,1,2,2,3)

3